body{
    background-image: url("../Images/chuchu.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
}

h1{
    color: blue;
}
h2{
    font-size: 60px;
}

#amarelo{
    background-color: yellow;
}

#azul{
    background-color: rgb(85, 0, 255);
}